# Previsão do Campeonato Brasileiro com Métodos estatísicos.

### O objetio é calcular a probabilidade de vitória do time A ou time B de vencer a partida usando probabilidade binomial.

$$
\binom{n}{k} = \frac{n!}{k!(n-k)!}
$$


#### - P = (Média.FinaLizações certas timea A /  Média.Finalizações tiem A) * (Média.Gols cedidos time B / Média.Finalizações cedidas time B)
#### - n = Média.Finalizações tiem A 
#### - k = 1...6

In [7]:
import pandas as pd
from scipy.stats import binom
import numpy as np

### Importando as tabelas

In [9]:
tabelas = pd.read_html('https://pt.wikipedia.org/wiki/Campeonato_Brasileiro_de_Futebol_de_2024_-_S%C3%A9rie_A') # Importando as teblas de jogos e de classificação

In [10]:
tabela_jogos = tabelas[7]
tabela_campeonato = tabelas[6]
tabela_campeonato.replace({'Botafogo (X)':'Botafogo', 'Palmeiras (X)':'Palmeiras'}, inplace=True) #Ajustando o nome 'Botafogo (X)' e ''Palmeiras (X)'
tabela_campeonato

,Pos,Equipevde,Pts,J,V,E,D,GP,GC,SG,Classificação ou descenso
0,1,Botafogo,61,30,18,7,5,48,26,+22,Fase de grupos da Copa Libertadores de 2025
1,2,Palmeiras,60,30,18,6,6,51,23,+28,Fase de grupos da Copa Libertadores de 2025
2,3,Fortaleza,56,30,16,8,6,39,30,+9,Fase de grupos da Copa Libertadores de 2025
3,4,Flamengo,51,29,15,6,8,45,34,+11,Fase de grupos da Copa Libertadores de 2025
4,5,São Paulo,50,30,15,5,10,41,32,+9,Segunda fase da Copa Libertadores de 2025
5,6,Internacional,49,29,13,10,6,38,26,+12,Segunda fase da Copa Libertadores de 2025
6,7,Bahia,46,30,13,7,10,40,34,+6,Fase de grupos da Copa Sul-Americana de 2025
7,8,Cruzeiro,44,30,12,8,10,36,30,+6,Fase de grupos da Copa Sul-Americana de 2025
8,9,Atlético Mineiro,41,29,10,11,8,41,42,−1,Fase de grupos da Copa Sul-Americana de 2025
9,10,Vasco da Gama,37,29,10,7,12,32,41,−9,Fase de grupos da Copa Sul-Americana de 2025
10,11,Criciúma,36,30,9,9,12,37,43,−6,Fase de grupos da Copa Sul-Americana de 2025
11,12,Grêmio,35,30,10,5,15,33,38,−5,Fase de grupos da Copa Sul-Americana de 2025
12,13,Red Bull Bragantino,34,30,8,10,12,34,39,−5,NaN
13,14,Juventude,34,30,8,10,12,36,44,−8,NaN
14,15,Fluminense,33,29,9,6,14,24,30,−6,NaN
15,16,Vitória,32,30,9,5,16,33,44,−11,NaN
16,17,Corinthians,32,30,7,11,12,34,40,−6,Rebaixados à Série B de 2025
17,18,Athletico Paranaense,31,28,8,7,13,29,36,−7,Rebaixados à Série B de 2025
18,19,Cuiabá,27,29,6,9,14,25,39,−14,Rebaixados à Série B de 2025
19,20,Atlético Goianiense,22,30,5,7,18,22,47,−25,Rebaixados à Série B de 2025

In [11]:
tabela_jogos.rename(columns={'Casa \ Fora':'Casa_Fora'}, inplace=True) #Trocando o nome para evitar a mensagem abaixo
tabela_jogos.set_index('Casa_Fora',inplace=True)
tabela_jogos

<>:1: SyntaxWarning: invalid escape sequence '\ '
<>:1: SyntaxWarning: invalid escape sequence '\ '
C:\Users\Vinicius\AppData\Local\Temp\ipykernel_21432\3549390206.py:1: SyntaxWarning: invalid escape sequence '\ '
  tabela_jogos.rename(columns={'Casa \ Fora':'Casa_Fora'}, inplace=True) #Trocando o nome para evitar a mensagem abaixo

,ATP,ATG,ATM,BAH,BOT,COR,CRI,CRU,CUI,FLA,FLU,FOR,GRE,INT,JUV,PAL,RBB,SPA,VAS,VIT
Casa_Fora,,,,,,,,,,,,,,,,,,,,
Athletico Paranaense,—,NaN,NaN,1–3,0–1,1–1,3–1,NaN,4–0,1–1,a,1–1,0–2,1–0,1–2,0–2,NaN,1–2,1–0,NaN
Atlético Goianiense,1–2,—,NaN,1–1,1–4,2–2,1–2,0–1,0–0,1–2,1–0,NaN,1–1,1–0,2–1,NaN,NaN,0–3,0–1,0–2
Atlético Mineiro,NaN,1–1,—,1–1,a,2–1,1–1,3–0,1–1,2–4,0–2,1–1,2–1,NaN,NaN,0–4,3–0,2–1,2–0,2–2
Bahia,NaN,NaN,3–0,—,0–0,0–1,1–0,4–1,1–2,0–2,2–1,1–0,1–0,1–1,2–0,NaN,1–0,NaN,2–1,2–0
Botafogo,1–1,1–0,3–0,1–2,—,2–1,1–1,0–3,NaN,4–1,1–0,2–0,0–0,1–0,5–1,1–0,2–1,a,a,NaN
Corinthians,5–2,3–0,0–0,a,0–1,—,2–1,a,1–1,2–1,3–0,0–0,2–2,2–2,1–1,a,1–1,2–2,a,3–2
Criciúma,0–0,2–0,2–1,2–2,2–1,NaN,—,1–0,2–5,NaN,1–1,1–1,0–1,1–1,1–1,1–2,1–0,NaN,2–2,NaN
Cruzeiro,2–0,3–1,0–0,1–1,3–2,3–0,NaN,—,2–1,NaN,2–0,1–2,NaN,0–0,2–0,a,2–1,0–1,1–1,3–1
Cuiabá,1–2,0–0,0–3,NaN,1–2,NaN,2–1,0–0,—,NaN,0–1,5–0,1–3,0–1,0–0,0–2,1–1,2–0,NaN,0–0
Flamengo,1–0,2–0,a,2–1,0–2,2–0,2–1,2–1,1–1,—,0–2,1–2,2–1,a,NaN,1–1,2–1,2–1,1–1,NaN
Fluminense,a,1–2,2–2,1–0,0–1,0–0,NaN,1–0,NaN,0–1,—,NaN,a,1–1,1–1,1–0,2–2,2–0,2–1,0–1
Fortaleza,1–0,3–1,1–1,4–1,1–1,1–0,1–0,1–1,1–0,NaN,1–0,—,1–0,NaN,2–1,3–0,1–1,1–0,NaN,3–1
Grêmio,2–0,NaN,2–3,0–2,1–2,a,1–2,0–2,1–0,3–2,1–0,3–1,—,0–1,a,2–2,0–2,a,1–0,2–0
Internacional,2–2,1–1,1–2,2–1,NaN,1–0,NaN,1–0,3–0,a,a,2–1,1–0,—,2–1,1–1,NaN,0–0,1–2,3–1
Juventude,1–1,1–0,1–1,NaN,3–2,2–0,1–2,NaN,NaN,2–1,2–1,NaN,3–0,1–3,—,3–5,1–1,0–0,2–0,1–1
Palmeiras,0–2,3–1,2–1,2–0,a,2–0,5–0,2–0,5–0,0–0,a,NaN,a,0–1,3–1,—,2–1,2–1,2–0,0–2
Red Bull Bragantino,1–0,3–1,1–2,2–1,NaN,1–0,NaN,NaN,NaN,1–1,0–1,1–2,2–2,2–2,2–1,0–0,—,NaN,2–1,2–1
São Paulo,a,1–0,NaN,3–1,2–2,3–1,2–1,2–0,0–1,1–0,2–1,1–2,1–0,1–3,NaN,0–0,2–0,—,3–0,2–1
Vasco da Gama,2–1,NaN,a,a,1–1,2–0,0–4,0–0,NaN,1–6,2–0,2–0,2–1,NaN,1–1,0–1,2–2,4–1,—,2–1
Vitória,0–1,0–2,4–2,2–2,0–1,NaN,2–1,2–2,1–0,1–2,NaN,NaN,NaN,2–1,1–0,0–1,1–0,1–3,0–1,—

### Tratando a tabela de jogos

In [13]:
# Dicionário com a chave sendo os apelidos e valor o nome dos tiems.
nomes_times = list(tabela_jogos.index)
apelido_times = list(tabela_jogos.columns)
aplido_para_nomes = dict(zip(apelido_times,nomes_times))
tabela_jogos = tabela_jogos.reset_index()
aplido_para_nomes

{'ATP': 'Athletico Paranaense',
 'ATG': 'Atlético Goianiense',
 'ATM': 'Atlético Mineiro',
 'BAH': 'Bahia',
 'BOT': 'Botafogo',
 'COR': 'Corinthians',
 'CRI': 'Criciúma',
 'CRU': 'Cruzeiro',
 'CUI': 'Cuiabá',
 'FLA': 'Flamengo',
 'FLU': 'Fluminense',
 'FOR': 'Fortaleza',
 'GRE': 'Grêmio',
 'INT': 'Internacional',
 'JUV': 'Juventude',
 'PAL': 'Palmeiras',
 'RBB': 'Red Bull Bragantino',
 'SPA': 'São Paulo',
 'VAS': 'Vasco da Gama',
 'VIT': 'Vitória'}

In [14]:
#Tratando a tabela de jogos
tabela_jogos.set_index('Casa_Fora', inplace=True)
tabela_jogos = tabela_jogos.unstack().reset_index() 
tabela_jogos.rename(columns={'level_0':'time_fora', 'Casa_Fora':'time_casa', 0:'Placar'}, inplace=True)
tabela_jogos.set_index('time_fora', inplace=True)
tabela_jogos

                      time_casa Placar
time_fora
ATP        Athletico Paranaense      —
ATP         Atlético Goianiense    1–2
ATP            Atlético Mineiro    NaN
ATP                       Bahia    NaN
ATP                    Botafogo    1–1
...                         ...    ...
VIT                   Palmeiras    0–2
VIT         Red Bull Bragantino    2–1
VIT                   São Paulo    2–1
VIT               Vasco da Gama    2–1
VIT                     Vitória      —

[400 rows x 2 columns]

In [15]:
tabela_jogos.rename(index=aplido_para_nomes, inplace=True) #Usando o dicionário para deixar os nomes padrõs
tabela_jogos.reset_index(inplace=True)
tabela_jogos

                time_fora             time_casa Placar
0    Athletico Paranaense  Athletico Paranaense      —
1    Athletico Paranaense   Atlético Goianiense    1–2
2    Athletico Paranaense      Atlético Mineiro    NaN
3    Athletico Paranaense                 Bahia    NaN
4    Athletico Paranaense              Botafogo    1–1
..                    ...                   ...    ...
395               Vitória             Palmeiras    0–2
396               Vitória   Red Bull Bragantino    2–1
397               Vitória             São Paulo    2–1
398               Vitória         Vasco da Gama    2–1
399               Vitória               Vitória      —

[400 rows x 3 columns]

In [16]:
tabela_jogos = tabela_jogos[tabela_jogos.Placar != '—'] #Excluido as linhas em que os nome time casa e time fora são iguais.
tabela_jogos = tabela_jogos.fillna('A jogar')
jogos_realizados = tabela_jogos[tabela_jogos.Placar.str.contains('–')] #Jogos realizados
jogos_faltantes = tabela_jogos[~tabela_jogos.Placar.str.contains('–')] #Jogos que faltam 
jogos_faltantes.reset_index(drop=True, inplace=True)
jogos_faltantes = jogos_faltantes.copy() # Para evitar a ambiguidade entre trabalhar com uma visão ou uma cópia do DataFrame original.
jogos_faltantes.drop(columns='Placar', inplace=True)
jogos_faltantes

               time_fora             time_casa
0   Athletico Paranaense      Atlético Mineiro
1   Athletico Paranaense                 Bahia
2   Athletico Paranaense            Fluminense
3   Athletico Paranaense             São Paulo
4    Atlético Goianiense  Athletico Paranaense
..                   ...                   ...
79         Vasco da Gama             Fortaleza
80               Vitória  Athletico Paranaense
81               Vitória              Botafogo
82               Vitória              Criciúma
83               Vitória              Flamengo

[84 rows x 2 columns]

In [17]:
jogos_realizados = jogos_realizados.copy() # Para evitar a ambiguidade entre trabalhar com uma visão ou uma cópia do DataFrame original.
jogos_realizados[['Gols_casa', 'Gols_fora']] = jogos_realizados['Placar'].str.split('–', expand=True).astype(int) 
jogos_realizados.drop('Placar', axis=1, inplace=True)
jogos_realizados.reset_index(drop=True, inplace=True)
jogos_realizados

                time_fora            time_casa  Gols_casa  Gols_fora
0    Athletico Paranaense  Atlético Goianiense          1          2
1    Athletico Paranaense             Botafogo          1          1
2    Athletico Paranaense          Corinthians          5          2
3    Athletico Paranaense             Criciúma          0          0
4    Athletico Paranaense             Cruzeiro          2          0
..                    ...                  ...        ...        ...
291               Vitória            Juventude          1          1
292               Vitória            Palmeiras          0          2
293               Vitória  Red Bull Bragantino          2          1
294               Vitória            São Paulo          2          1
295               Vitória        Vasco da Gama          2          1

[296 rows x 4 columns]

In [18]:
#Importando a tabela de finalizações
df_stats = pd.read_excel('stats.xlsx')
df_stats.replace({'RB Bragantino':'Red Bull Bragantino',
                  'Atlético-MG':'Atlético Mineiro',
                  'Atlético-GO':'Atlético Goianiense'}, inplace=True) #Ajustando o nome de alguns times da tabela stats para ficar padrão.
df_stats #Tabale de finalizações

,time_casa,time_fora,chutes_casa,chutes_gol_casa,chutes_fora,chutes_gol_fora
0,Vitória,Red Bull Bragantino,11,3,9,1
1,Internacional,Grêmio,18,6,9,7
2,Cruzeiro,Bahia,11,3,10,4
3,Botafogo,Criciúma,25,7,6,3
4,Atlético Goianiense,Cuiabá,16,4,6,0
...,...,...,...,...,...,...
290,Athletico Paranaense,Cuiabá,20,9,1,0
291,São Paulo,Fortaleza,14,5,6,2
292,Fluminense,Red Bull Bragantino,26,11,16,8
293,Internacional,Bahia,17,9,9,4
294,Criciúma,Juventude,10,3,15,4

### Importando a tabela de finalizações

In [20]:
tabela_estatistica = pd.merge(jogos_realizados, df_stats, on=['time_casa', 'time_fora'], how='inner') 
tabela_estatistica[tabela_estatistica.time_fora == 'São Paulo']
tabela_estatistica #Tabela de estatíscas

,time_fora,time_casa,Gols_casa,Gols_fora,chutes_casa,chutes_gol_casa,chutes_fora,chutes_gol_fora
0,Athletico Paranaense,Atlético Goianiense,1,2,12,3,17,6
1,Athletico Paranaense,Botafogo,1,1,8,1,16,6
2,Athletico Paranaense,Corinthians,5,2,14,8,22,6
3,Athletico Paranaense,Criciúma,0,0,25,6,10,3
4,Athletico Paranaense,Cruzeiro,2,0,22,7,14,3
...,...,...,...,...,...,...,...,...
290,Vitória,Juventude,1,1,12,2,18,4
291,Vitória,Palmeiras,0,2,21,3,10,3
292,Vitória,Red Bull Bragantino,2,1,16,6,10,5
293,Vitória,São Paulo,2,1,12,3,10,4
294,Vitória,Vasco da Gama,2,1,17,8,13,5

In [21]:
tabela_medias = {'time':[], 
                     'media_gol_cedido_fora':[],
                     'media_gol_cedido_casa':[],
                     'media_finalizacao_em_casa':[],
                     'media_finalizacao_fora_de_casa':[],
                     'media_finalizacao_certa_em_casa':[],
                     'media_finalizacao_certa_fora_de_casa':[],
                     'media_finalizacoes_cedidas_casa':[],
                     'media_finalizacoes_cedidas_fora':[]}
for time in nomes_times:
    tabela_medias['time'].append(time)
    tabela_medias['media_gol_cedido_fora'].append(tabela_estatistica[tabela_estatistica.time_fora == time].Gols_casa.mean())
    tabela_medias['media_gol_cedido_casa'].append(tabela_estatistica[tabela_estatistica.time_casa == time].Gols_fora.mean())
    tabela_medias['media_finalizacao_em_casa'].append(tabela_estatistica[tabela_estatistica.time_casa == time].chutes_gol_casa.mean())
    tabela_medias['media_finalizacao_fora_de_casa'].append(tabela_estatistica[tabela_estatistica.time_fora == time].chutes_fora.mean())
    tabela_medias['media_finalizacao_certa_em_casa'].append(tabela_estatistica[tabela_estatistica.time_casa == time].Gols_casa.mean())
    tabela_medias['media_finalizacao_certa_fora_de_casa'].append(tabela_estatistica[tabela_estatistica.time_casa == time].chutes_gol_fora.mean())
    tabela_medias['media_finalizacoes_cedidas_casa'].append(tabela_estatistica[tabela_estatistica.time_casa == time].Gols_fora.mean())
    tabela_medias['media_finalizacoes_cedidas_fora'].append(tabela_estatistica[tabela_estatistica.time_fora == time].Gols_casa.mean())

tabela_medias = pd.DataFrame(tabela_medias)

tabela_medias #Tabela com as médias das métricas.

,time,media_gol_cedido_fora,media_gol_cedido_casa,media_finalizacao_em_casa,media_finalizacao_fora_de_casa,media_finalizacao_certa_em_casa,media_finalizacao_certa_fora_de_casa,media_finalizacoes_cedidas_casa,media_finalizacoes_cedidas_fora
0,Athletico Paranaense,1.333333,1.230769,6.076923,12.600000,1.153846,4.769231,1.230769,1.333333
1,Atlético Goianiense,1.666667,1.466667,4.466667,13.400000,0.800000,4.333333,1.466667,1.666667
2,Atlético Mineiro,1.571429,1.333333,4.466667,14.000000,1.533333,4.400000,1.333333,1.571429
3,Bahia,1.666667,0.600000,4.866667,11.866667,1.400000,3.266667,0.600000,1.666667
4,Botafogo,1.000000,0.733333,6.066667,11.800000,1.666667,3.133333,0.733333,1.000000
5,Corinthians,1.600000,1.066667,6.600000,12.000000,1.800000,4.066667,1.066667,1.600000
6,Criciúma,1.666667,1.200000,5.266667,11.933333,1.266667,4.733333,1.200000,1.666667
7,Cruzeiro,1.266667,0.733333,4.733333,12.133333,1.666667,3.400000,0.733333,1.266667
8,Cuiabá,1.642857,1.066667,3.733333,9.214286,0.866667,4.066667,1.066667,1.642857
9,Flamengo,1.357143,1.000000,5.533333,13.428571,1.400000,3.266667,1.000000,1.357143
10,Fluminense,1.200000,0.857143,4.857143,10.066667,1.000000,4.642857,0.857143,1.200000
11,Fortaleza,1.571429,0.500000,4.437500,10.714286,1.625000,3.375000,0.500000,1.571429
12,Grêmio,1.266667,1.266667,4.400000,11.400000,1.266667,4.266667,1.266667,1.266667
13,Internacional,0.933333,0.857143,6.214286,13.066667,1.500000,3.714286,0.857143,0.933333
14,Juventude,1.733333,0.928571,4.785714,11.333333,1.500000,4.857143,0.928571,1.733333
15,Palmeiras,0.714286,0.666667,6.200000,15.714286,2.000000,3.533333,0.666667,0.714286
16,Red Bull Bragantino,1.500000,1.071429,4.571429,12.312500,1.428571,5.500000,1.071429,1.500000
17,São Paulo,1.357143,0.812500,4.937500,12.500000,1.625000,3.562500,0.812500,1.357143
18,Vasco da Gama,1.466667,1.357143,4.285714,10.733333,1.500000,4.928571,1.357143,1.466667
19,Vitória,1.666667,1.266667,4.000000,10.800000,1.133333,4.733333,1.266667,1.666667

# Calculandno a probabilide dos jogos

In [23]:
# n = num.Finaçizacoes
# k = [1,2,3,4,5,6]
# p = (media.Finaçizacoes certas timea A /  media.Finaçizacoes tiem A) * (media.Gols cedidos time B / media.finalizacoes cedidas time B)
# q = 1-p
# probabilidade = comb(n,k)*(p**k)*(q**(n-k)

In [49]:
P_time_casa = []
P_time_fora = []
P_empate = []
for time in jogos_faltantes.index:
    time_casa = jogos_faltantes.iloc[time,1]
    time_fora = jogos_faltantes.iloc[time,0]
    
    # Probabilidade do Time da casa ganhar.

    finalizacao_time_casa = tabela_medias.loc[tabela_medias.time == time_casa, 'media_finalizacao_em_casa'].values[0]
    finalizacao_certa_time_casa = tabela_medias.loc[tabela_medias.time == time_casa, 'media_finalizacao_certa_em_casa'].values[0]
    gols_sofrido_time_fora = tabela_medias.loc[tabela_medias.time == time_fora, 'media_gol_cedido_fora'].values[0]
    finalizacao_cedida_time_fora = tabela_medias.loc[tabela_medias.time == time_fora, 'media_finalizacoes_cedidas_fora'].values[0]
    
    n = finalizacao_time_casa.astype(int)
    p = (finalizacao_certa_time_casa / finalizacao_time_casa) * (gols_sofrido_time_fora / finalizacao_cedida_time_fora)
    k = np.arange(1,7)
    
    if p > 1:
        probabilidade_time_casa = 0.99 # Confronto Fortaleza X Vasco, Vasco teve probabilidade de mais 100% de marcar gol em todas as chances.
                                       # para resolver coloquei 99% de chance de vitória para evitar Erro.
    else:
         probabilidade_time_casa = (binom.pmf(k,n,p))
    
    
    
    #Probabilidade do time de fora ganhar
    
    finalizacao_time_fora = tabela_medias.loc[tabela_medias.time == time_fora, 'media_finalizacao_fora_de_casa'].values[0]
    finalizacao_certa_time_fora = tabela_medias.loc[tabela_medias.time == time_fora, 'media_finalizacao_certa_fora_de_casa'].values[0]
    gols_sofrido_time_casa = tabela_medias.loc[tabela_medias.time == time_casa, 'media_gol_cedido_casa'].values[0]
    finalizacao_cedida_time_casa =  tabela_medias.loc[tabela_medias.time == time_casa, 'media_finalizacoes_cedidas_casa'].values[0]

    n = finalizacao_time_fora.astype(int)
    p = (finalizacao_certa_time_fora / finalizacao_time_fora) * (gols_sofrido_time_casa / finalizacao_cedida_time_casa)
    k = np.arange(1,7)

    probabilidade_time_fora = binom.pmf(k,n,p)

    #Probabilidade de empate
    probalidade_empate = sum([probabilidade_time_fora[p] *  probabilidade_time_casa[p] for p in range(6)])

    # Condições 
    if (probalidade_empate > sum(probabilidade_time_casa) and probalidade_empate > sum(probabilidade_time_fora)) or (sum(probabilidade_time_fora) == sum(probabilidade_time_casa)):
        tabela_campeonato.loc[tabela_campeonato.Equipevde == time_casa, 'Pts'] += 1
        tabela_campeonato.loc[tabela_campeonato.Equipevde == time_fora, 'Pts'] += 1
        tabela_campeonato.loc[tabela_campeonato.Equipevde == time_casa, 'E'] += 1
        tabela_campeonato.loc[tabela_campeonato.Equipevde == time_fora, 'E'] += 1
        tabela_campeonato.loc[tabela_campeonato.Equipevde == time_casa, 'J'] += 1
        tabela_campeonato.loc[tabela_campeonato.Equipevde == time_fora, 'J'] += 1


    
    elif sum(probabilidade_time_casa) > sum(probabilidade_time_fora):
         tabela_campeonato.loc[tabela_campeonato.Equipevde == time_casa, 'Pts'] += 3
         tabela_campeonato.loc[tabela_campeonato.Equipevde == time_casa, 'V'] += 1
         tabela_campeonato.loc[tabela_campeonato.Equipevde == time_fora, 'D'] += 1
         tabela_campeonato.loc[tabela_campeonato.Equipevde == time_casa, 'J'] += 1
         tabela_campeonato.loc[tabela_campeonato.Equipevde == time_fora, 'J'] += 1


    else:
         tabela_campeonato.loc[tabela_campeonato.Equipevde == time_fora, 'Pts'] += 3
         tabela_campeonato.loc[tabela_campeonato.Equipevde == time_casa, 'D'] += 1
         tabela_campeonato.loc[tabela_campeonato.Equipevde == time_fora, 'V'] += 1
         tabela_campeonato.loc[tabela_campeonato.Equipevde == time_casa, 'J'] += 1
         tabela_campeonato.loc[tabela_campeonato.Equipevde == time_fora, 'J'] += 1

    P_time_casa.append(sum(probabilidade_time_casa))
    P_time_fora.append(sum(probabilidade_time_fora))
    P_empate.append(probalidade_empate)

### Resultados

In [51]:
jogos_faltantes = jogos_faltantes.assign(p_time_fora=P_time_fora, p_time_casa=P_time_casa, p_empate=P_empate )
jogos_faltantes

,time_fora,time_casa,p_time_fora,p_time_casa,p_empate
0,Athletico Paranaense,Atlético Mineiro,0.873684,0.814001,0.054904
1,Athletico Paranaense,Bahia,0.873684,0.742533,0.043317
2,Athletico Paranaense,Fluminense,0.873684,0.602315,0.028027
3,Athletico Paranaense,São Paulo,0.873684,0.797421,0.051866
4,Atlético Goianiense,Athletico Paranaense,0.903984,0.717306,0.058620
...,...,...,...,...,...
79,Vasco da Gama,Fortaleza,0.884818,0.838632,0.052993
80,Vitória,Athletico Paranaense,0.907866,0.717306,0.046033
81,Vitória,Botafogo,0.907866,0.854449,0.075676
82,Vitória,Criciúma,0.907866,0.747291,0.049061
83,Vitória,Flamengo,0.907866,0.767422,0.052550

In [28]:
tabela_campeonato[tabela_campeonato.columns[:7]].sort_values(by='Pts', ascending=False).drop(columns='Pos').reset_index(drop=True)

               Equipevde  Pts   J   V   E   D
0              Palmeiras   75  38  23   6   9
1               Botafogo   73  38  22   7   9
2              Fortaleza   71  38  21   8   9
3               Flamengo   66  38  20   6  12
4              São Paulo   65  38  20   5  13
5          Internacional   64  38  18  10  10
6                  Bahia   58  38  17   7  14
7               Cruzeiro   56  38  16   8  14
8       Atlético Mineiro   56  38  15  11  12
9          Vasco da Gama   49  38  14   7  17
10              Criciúma   48  38  13   9  16
11                Grêmio   47  38  14   5  19
12             Juventude   46  38  12  10  16
13               Vitória   44  38  13   5  20
14           Corinthians   44  38  11  11  16
15  Athletico Paranaense   43  38  12   7  19
16            Fluminense   42  38  12   6  20
17                Cuiabá   42  38  11   9  18
18   Red Bull Bragantino   40  38  10  10  18
19   Atlético Goianiense   34  38   9   7  22